<header class="topbar">

  <div class="page-title">

    <p>STUDENT OS</p>

    <h1>
      Good morning, Gagan 👋
    </h1>

  </div>


  <div class="topbar-actions">

    <!-- Search -->
    <button class="icon-btn">
      🔍
    </button>

    <!-- Notification -->
    <button class="icon-btn notification">
      🔔
      <span></span>
    </button>


    <!-- Profile -->
    <div class="profile">

      <div class="avatar">
        G
      </div>

      <div class="profile-info">
        <strong>Gagan</strong>
        <span>Student</span>
      </div>

    </div>

  </div>

</header>
